:root {
  --page-background-color: #6d9886;
  --product-background-color: #393e46;
  --accent-color: #f2e7d5;
  --text-color: #f7f7f7;
}
body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  background-color: var(--page-background-color);
  text-align: center;
  color: var(--text-color);
}

header {
  background-image: url("header-background.jpg");

  font-size: 60px;
  font-weight: bold;

  background-size: cover;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.AddProduct {
  margin-top: 3%;
}
.AddProduct input {
  width: 30%;
}

main {
  margin: 30px 15%;
}
ul {
  padding: 0;
}
li {
  background-color: var(--product-background-color);
  border-radius: 5px;
  margin: 5px;
  padding: 3px;
}
button .trash {
  color: var(--text-color);
}
button .trash:hover {
  color: rgb(233, 47, 47);
}
footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  background-color: var(--product-background-color);
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
  padding: 5px;
}
footer a {
  color: var(--page-background-color);
  font-size: 10px;
  text-decoration: none;
  display: block;
}
footer a:hover {
  color: rgb(30, 233, 125);
}
